Django>=5.2,<6.0
dj-database-url>=3.0,<4.0
django-allauth>=65.0,<66.0
requests>=2.32,<3.0
PyJWT>=2.10,<3.0
cryptography>=46.0,<47.0
psycopg2-binary>=2.9,<3.0
gunicorn>=23.0,<27.0
whitenoise>=6.8,<7.0
